<ion-view view-title="texto">
    <ion-content padding="true">
      <div ng-click='popUp("hemorragia")' class="list card">
          <div class="item item-image">
            <img src="img/2.png">
          </div>
      </div>
      <div ng-click='popUp("ataques")' class="list card">
          <div class="item item-image">
            <img src="img/1.png">
          </div>
      </div>
      <div ng-click='popUp("infeccion")' class="list card">
          <div class="item item-image">
            <img src="img/3.png">
          </div>
      </div>
    </ion-content>
</ion-view>
