<ion-view view-title="">
    <ion-content padding="true">
      <div ng-click='popUp()' class="list card">
          <div class="item item-image">
            <img src="img/Delicado.png">
          </div>
      </div>
      <div class="list card">
          <div class="item item-image">
            <img src="img/Exitoso.png">
          </div>
      </div>
      <div class="list card">
          <div class="item item-image">
            <img src="img/Emergencia.png">
          </div>
      </div>
    </ion-content>
</ion-view>
