<ion-view view-title="texto">
    <ion-content padding="true">
      <div ng-click="popUpSub('hemorragia-mucha-sangre')" class="list card">
          <div class="item item-image">
            <img src="img/sub/1.jpg">
          </div>
      </div>
      <div ng-click="popUpSub('hemorragia-necesito-ayuda')" class="list card">
          <div class="item item-image">
            <img src="img/sub/2.jpg">
          </div>
      </div>
      <div ng-click="popUpSub('hemorragia-placenta')" class="list card">
          <div class="item item-image">
            <img src="img/sub/3.jpg">
          </div>
      </div>
    </ion-content>
</ion-view>
